.container {
  max-width: 1540px;
  padding: 0 20px;
  margin: 0 auto;
}
.small-container {
  max-width: 1228px;
  padding: 0 20px;
  margin: 0 auto;
}
.title {
  font-weight: 500;
  font-size: 52px;
  line-height: 144%;
  text-transform: uppercase;
  color: #21274f;
}
.text {
  font-size: 16px;
  line-height: 175%;
  color: #f2f7fc;
}
.btn {
  border: 1px solid #f2f7fc;
  border-radius: 30px;
  padding: 15px 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  align-items: center;
}
.small-text {
  font-size: 14px;
  line-height: 171%;
  color: rgba(242, 247, 252, 0.8);
}
.socials {
  display: flex;
  gap: 20px;
  & > li {
    &:not(:nth-child(2)) {
      & > a {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        &::before {
          color: #21274f;
        }
      }
    }
    &:nth-child(1) {
      & > a {
        &::before {
          font-size: 20px;
        }
      }
    }
    &:nth-child(2) {
      & > a {
        &::before {
          font-size: 40px;
          color: white;
        }
      }
    }
    &:nth-child(4) {
      & > a {
        &::before {
          font-size: 15px;
        }
      }
    }
  }
}
