.faq {
  padding-bottom: 100px;
  padding-top: 100px;
  background: #f2f7fc;
  @media (max-width: 576px) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  & > div {
    padding-left: calc(100vw / 2 - 595px);
    @media (max-width: 1400px) {
      padding-left: 20px;
    }
    & > h2 {
      margin-bottom: 55px;
      @media (max-width: 576px) {
        margin-bottom: 30px;
      }
    }
    & > ul {
      & > li {
        border-top: 1px solid #757a94;
        padding: 27px 0 27px 38px;
        @media (max-width: 1400px) {
          padding-right: 20px;
        }
        @media (max-width: 768px) {
          padding: 20px;
        }
        cursor: pointer;
        &.active {
          & > p {
            &::before {
              transform: rotate(45deg);
            }
          }
          & > div {
            display: block;
          }
        }
        & > p {
          font-size: 28px;
          line-height: 107%;
          color: #21274f;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          max-width: 1160px;
          align-items: center;
          gap: 20px;
          @media (max-width: 768px) {
            font-size: 24px;
          }
          &::before {
            color: #21274f;
            font-size: 40px;
            transition: 0.3s;
          }
        }
        & > div {
          max-width: 1160px;
          padding-top: 20px;
          font-size: 16px;
          line-height: 162%;
          color: #777b9a;
          display: none;
        }
        &:last-child {
          border-bottom: 1px solid #757a94;
        }
      }
    }
  }
}
