.images {
  background-color: #f2f7fc;
  padding-bottom: 80px;
  & > div {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
    justify-content: center;
  }
}
